[submodule "gogotester"]
	path = gogotester
	url = https://github.com/azzvx/gogotester.git
[submodule "gB2312toUnicode"]
	path = gB2312toUnicode
	url = https://github.com/lindabell/gB2312toUnicode.git
[submodule "NppAStyle"]
	path = NppAStyle
	url = https://github.com/ringsd/NppAStyle
[submodule "DataPie"]
	path = DataPie
	url = https://github.com/yfl8910/DataPie
[submodule "quarkspwdump"]
	path = quarkspwdump
	url = https://github.com/quarkslab/quarkspwdump
[submodule "p2p"]
	path = p2p
	url = https://github.com/yaroslavchuvaev/p2p
[submodule "rinetd"]
	path = rinetd
	url = https://github.com/perryhg/rinetd
